@charset "ISO-8859-1";

html,
body {
     width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
    background-color: #191828;
}
.principal{
	width:100%;
	height:100%;
	background:  #191828;
	position:absolute
}

.div1{
	width:100%;
	height:280%;
	background: #191828;
	position:absolute;
	border-top:1px solid rgb(0, 130, 130)660;

}
.div32{
	width:100%;
	height:80%;
	background: #191828;
	position:absolute;
	border-top:1px solid rgb(0, 130, 130)660;
}
.logo{
	width:20%;
	height:100%;
	background: red;
	float: left;
}
.button{
	width:80%;
	height:100%;
	background: #191828;
	float: left;
}
.div2{
	 width:100%;
	height:15%;
	background: blue;
	
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: red;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}




/* DROWN */

nav.drown ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}

nav.drown ul li a:hover {
    color: red;
}

nav.drown ul li a:before {
    background: #fff;
    content: '.';
    color: transparent;
    position: absolute;
    width: 500%;
    top: 100px;
    right: 0%;
    height: 300px;
    z-index: -1;
}

nav.drown ul li a:hover:before {
    left: auto;
    bottom: auto;
    right: -50%;
    top: 0;
    background:#fff;
}


ul {
    float: right;
}
/* Carrosel */
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css para navegação slide manual*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*ccs para navegação automática*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}



.Abc {
width: 30%; 
height:30%;
vertical-align:middle;
}
.Juaom {
	width: 100%;
	height: 15%;
}
.Esq {
	width: 50%;
	height: 100%;
	
	float: left;
}
.Dir {
	width: 50%;
	height: 100%;
	float: left;
}
.divcentro{
	margin:10%;
	width: 80%; 
height:100%;
  vertical-align: middle;
		background-color: #191828;
}
.divcentro2{
	margin:10%;
	width: 80%; 
height:100%;
  vertical-align: middle;
background-color: #191828;
}
.centro{
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.vv {
	width:100%;
	height:100;
}
.pMain{
	text-align:justify;
	vertical-align: middle;
}
.border{
	border: 5px solid #555;
}